extends layout 
block main-content 
    .row.wrapper.spaced 
        .col 
            h2 Who We Are 
            p.about-text We are a group of passionate puzzle makers and problem solvers. We love building escape rooms that not only are challenging, but also engaging and atmospheric. In every one of our rooms, you will find a unique experience that no other escape game has done before. When you step into one of our rooms, you are not stepping into a puzzle room; you are stepping into a new world. We love to tell stories with what we make, and want to share those stories with you!
        .col
            img(src="/assets/img/logo.png", alt="Logo of a green cobra coiled into a circle").logo.large
