block append styles 
    link(rel="stylesheet", href="navbar.css")
div.navbar.shadow.headerfooter
        
    nav 
        ul 
            li
                a(href="/")
                    div.logo-head
                        img(src="/assets/img/logo.png", alt="Home", width="50")
                        span Cobra escape

            li 
                a(href="/") 
                    span Home
            li 
                a(href="/rooms") Rooms 

            li 
                a(href="/about") About